.markdown {
  line-height: 1.5em;
}

.markdown h1 {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #363636;
}

.markdown code {
  background-color: #363636;
  border-radius: 4px;

  padding: 2px 4px;
  font-size: 1rem;

  font-family: "Cascadia Code", "Cascadia Code Italic", consolas, "Courier New",
    Courier, monospace !important;
  position: relative !important;
}

.markdown pre {
  position: relative;
}

.markdown pre > div {
  margin: 0 !important;
  border-radius: 4px !important;
}

.markdown pre > div * {
  font-size: 1rem !important;
}

.markdown pre code {
  background-color: unset;
  padding: 0;
}

.markdown li {
  margin: 0.2em 0;
}

.markdown img {
  max-width: 100%;
}

.markdown blockquote {
  margin-block: 0;
  margin-inline: 0;

  border-left: 4px solid #646cff;
  color: #aaa;
  padding: 0.5em 1em;
}

.markdown blockquote p {
  margin: 0;
}

.markdown hr {
  border: none;
  border-top: 2px solid #363636;
}

@media (prefers-color-scheme: light) {
  .markdown {
    border: #e0e0e0 1px solid;
  }
  .markdown h1 {
    border-bottom: 2px solid #e0e0e0;
  }
  .markdown code {
    background-color: #f2f2f2;
  }
  .markdown blockquote {
    border-left: 4px solid #535bf2;
    color: #888;
  }
  .markdown hr {
    border-top: 2px solid #e0e0e0;
  }
}

.copy-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
