.profile-card {
  display: flex;
  gap: 16px;
}

.profile-card * {
  margin: 0;
}

.profile-card > section {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.profile-summary {
  width: 256px;
  text-align: center;
}

.profile-picture {
  width: 100%;
  transition: filter 0.5s ease-in-out;
}

.profile-picture:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.roles {
  width: 512px;
  justify-content: center;
}
