.progress-bar {
  border-radius: 16px;
  overflow: hidden;
  background-color: #ccc;
}

.progress-fill {
  border-radius: 16px;
  height: 16px;
  background-color: #bf65f3;
  width: 0;
  transition: width 2s cubic-bezier(0.19, 1, 0.22, 1);
}
