.top-bar {
  padding: 16px 0;

  display: flex;
  justify-content: space-around;
}

.top-bar * {
  margin: 0;
}

.social-media {
  display: flex;
  gap: 16px;
}

.logo {
  width: 32px;
  height: 100%;
  filter: invert();
}
